{
  "presets": ["@babel/preset-env", "@babel/preset-react"], // interpretar sintaxe jsx react e variaveis de ambiente
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  }
}